.idea/
.tox/
.venv/
*.egg-info/
__pycache__/
build/
dist/
docs/
htmlcov/
tests/
venv/

.env
*.py[cdo]
Dockerfile
Makefile
celerybeat-schedule.db
docker-compose.yaml
local-compose.yaml
nginx.conf
tox.ini
